<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            <!-- <a href="http://github.com/ppoffice">ppoffice</a>     
            主题 - <a href="http://hexo.io/" target="_blank">Hexo</a> -->  
             <a href="#" target="_blank">人生如逆旅  &phi; 我亦是行人 </a>
             <div class="copyright" style="margin-top: 10px;">
 			ICP备案号： <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备16067940号</a><br />
		</div>	
        </div>
    </div>
</footer>